<div id="particles-js"></div>
<div class="container d-flex justify-content-center align-items-center" style="height:100vh;">
    <div class="content-wrapper">
        <div class="form-container">
            <h2 class="text-center" style="color: #2592eb;">Login</h2>
            <form>
                <div class="form-group rounded-1 m-3 text-light">
                    <label for="role">Role</label><br>
                    <select name="role" [(ngModel)]="loginObj.role">
                        <option value="" disabled selected hidden>Select role</option>
                        <option value="STUDENT">Student</option>
                        <option value="TEACHER">Teacher</option>
                    </select>
                </div>
                <div class="form-group m-3 text-light">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email" [(ngModel)]="loginObj.email">
                </div>
                <div class="form-group m-3 text-light">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" [(ngModel)]="loginObj.password">
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary" (click)="onLogin()">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>