<div class="container mt-4 d-flex align-items-center" style="height:100vh;">
  <div class="card shadow-sm mb-3">
    <div class="card-body">
      <h5 class="card-title">📺 Suggested Resource</h5>
      <div class="card-text">
        <ul>
            <li>Machine Learning (ML) is a field of computer science that focuses on teaching machines to learn from and make decisions or predictions based on data.</li>
            <li>Its primary importance lies in its ability to enable computers to perform tasks that would normally require human intelligence.</li>
            <li>Some of ML's historical milestones include Perceptrons, Neural Networks, along with pioneering works by Arthur Samuel, Alan Turing, and Frank Rosenblatt.</li>
            <li>Data Preprocessing is the process of preparing data for analysis or ML algorithms such as filtering, cleaning, and transforming.</li>
            <li>Exploratory Data Analysis (EDA) is a step that involves investigating and visualizing data to gain insights and understanding before building models.</li>
            <li>Feature Selection is the process of selecting the most important features (variables) to include in a ML model for optimal performance.</li>
        </ul>
      </div>
      <a href="https://youtube.com/playlist?list=PLKnIA16_Rmvbr7zKYQuBfsVkjoLcJgxHH&si=UDx8j7Ro1g7qC9es" target="_blank" class="btn btn-primary">
        Watch on YouTube
      </a>
    </div>
  </div>
</div>
